@{
    ViewBag.Title = "Home Page";

}
<div>
    <h1>User Information</h1>
</div>
<div class="container text-left">

    <a asp-action="GetAllDetails" asp-controller="Student">Students</a>
    <br />

    <a asp-action="GetAllDetails" asp-controller="Teacher">Teachers</a>


</div>
